<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="QAGuruSuite" verbose="1" >
    <test name="Testng">
        <classes>
            <class name="ca.qaguru.tests.FunctionalTests"/>
            <class name="ca.qaguru.tests.SecurityTests"/>
        </classes>
    </test>
</suite>